<ion-card>
  <div class="weather_pic" width="300" height="150">
    <img alt="Clear" class="weather_pic_t" width="300" height="150" src="../../../../../assets/TNYT.jpg" />
  </div>
  <ion-card-header>
    <ion-card-subtitle class="card_subt">{{new.section_name}}</ion-card-subtitle>
    <ion-card-title class="card_tittle">{{new.headline.print_headline || new.headline.main}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item class="city_pills" lines="none">
      <ion-icon name="open-outline" color="dark" class="mouse_over" (click)="readNew()"></ion-icon>
      <ion-icon name="information-circle-outline" color="dark" class="mouse_over" (click)="getInfo()" slot="end"></ion-icon>
    </ion-item>
  </ion-card-content>
</ion-card>
