.mouse_over {
    cursor: pointer;
}

.card_subt{
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card_tittle {
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.weather_pic_t {
    opacity: 0;
}

.weather_pic {
    background-image: url('../../../../../assets/TNYT.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}