.block_news {
    padding: 25px 0 0 0;
    border: rgb(122, 121, 121) 1px solid;
    margin-bottom: 15px;
    background-color: rgb(122, 121, 121);
    font-family: Verdana;
    font-family: 'PT Sans';

    text-decoration: underline;
}